meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="format-detection" content="telephone=no")
meta(content='True' name='HandheldFriendly')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='theme-color', content='#80baa6')
meta(name="apple-mobile-web-app-status-bar-style" content="#d56c72")
meta(name='format-detection', content='telephone=no')
meta(name='format-detection', content='address=no')
link(rel="stylesheet" media="all" href="css/screen.min.css")
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')




