extends _layout
block title
	title Загрузка файлов
block config
	- var main = true
block content
	.container
		.row
			.col.s6
				h3 Загрузка групп
				form(action='#').js-validate
					.file-field.input-field
						.btn
							span Файл
							input(type='file',accept=".csv")
						.file-path-wrapper
							input.file-path(type='text')
					button(type='submit').btn.waves-effect.waves-dark Загрузить























	