extends _layout
block title
	title Главная
block config
	- var main = true
block content
	.container.main-container
		.row
			.col.m3
				.side-container(style='max-width: 250px')
					h4 Информация
					.side-card.z-depth-2
						h6 25.11.2017
						p Начало практики у групп
						.chip 482472
						.chip 482471
						.chip 482473
					.side-card.z-depth-2
						h6 01.12.2017
						p Начало практики у групп
						.chip 382472
						.chip 382471
						.chip 382473
						.chip 382473
						.chip 482473
						.chip 482473
						.chip 382473
						.chip 482473
						.chip 482473
					a(href="#").btn Cкачать договор
			.col.m9
				.content-text
					.btn Кнопка
					h2 Сервис проведения практик ИИТ БГУИР
					p  Добро пожаловать в сервис проведения практик ИИТ БГУИР. Здесь вы можете заполнить все данные необходимые дляпрохождения технологический или преддипломной практики.
					P Воспользуйтесь кнопкой "Вход" для входа в личный кабинет или регистрации в системе.
					




















	