extends _layout
block title
	title Главная
block config
	- var main = true
block content
	.container.main-container
		.row
			.col.s12
				.content-text
					h1 Технологическая практика ИИТ БГУИР
					h2 Технологическая пррактика ИИТ БГУИР
					h3 Технологическая пррактика ИИТ БГУИР
					ul
						li Технологическая пррактика ИИТ БГУИР
						li Технологическая пррактика ИИТ БГУИР
						li Технологическая пррактика ИИТ БГУИР
						li Технологическая пррактика ИИТ БГУИР
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vitae error repellendus soluta assumenda fuga repudiandae omnis tenetur totam nemo quos fugit cupiditate neque ipsa laborum, obcaecati, praesentium temporibus incidunt eveniet unde, numquam, accusantium ipsum amet adipisci. Nihil, perspiciatis repellendus quidem voluptates consequatur rem officia modi perferendis consectetur porro voluptas impedit quasi autem eum, in ipsum ab asperiores aspernatur praesentium fugit ex expedita deleniti nemo natus. Quae minima impedit quas quibusdam natus, accusamus dolorem optio deleniti nisi omnis a 
						a(href="#") delectus 
						|tenetur veritatis. Iusto recusandae impedit asperiores veniam excepturi quas suscipit libero, ut porro quos sapiente nobis dolorem tenetur molestias dicta.
					a(href="#").btn Cкачать договр
					a(href="#").btn Не скачать договр




















	