extends _layout
block title
	title Страница преподавателя
block config
	- var main = true
block content
	.container.main-container
		.row
			.col.s6
				.profile-card-wrapper.row
					.profile-card.z-depth-2.col.s4
						i.large.material-icons account_circle
					.profile-card-text.col.s8
						p.bold Шведова О.А

		












	